<%- include('../partials/admin/header.ejs', {title: "Subscribed users"});%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div class="panel-header panel-header-sm">
  <div class="header text-center">
    <h3 class="title">Subscribed users</h3>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Users</h5>
          <div class="container" >
            <h4>Users Subscription</h4>
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>ID #</th>
                  <th>Username/ Email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="userTable"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="activate-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="activateUsername"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="activateForm" class="form">
        <div class="modal-body">
          <div class="form-group">
            <label for="time">Select a subscription package</label>
            <select name="time" id="time" class="form-control" onchange="getOption()">
              <option value="nul">-- Select a subscription package --</option>
              <option value="0">Months</option>
              <option value="1">Years</option>
              <option value="2">Life time</option>
            </select>
          </div>
          <div class="form-group" style="display: none;" id="monthsInput">
            <label for="months">Select no. of months</label>
            <input type="text" id="months" name="months" class="form-control">
          </div>
          <div class="form-group" style="display: none;" id="yearsInput">
            <label for="years">Select no. of years</label>
            <input type="text" id="years" name="years" class="form-control">
          </div>
          <input type="hidden" id="userId" name="userId">
        </div>
        <div class="modal-footer">
          <p id="activationError"></p>
          <button type="submit" class="btn btn-primary">Activate</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="deactivate-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivateUsername"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="deactivateForm" class="form">
        <div class="modal-body">
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>ID #</th>
                <th>Activation Date</th>
                <th>Expiry Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="subscriptionsTable"></tbody>
          </table>
          <input type="hidden" id="userIdDe" name="userId">
        </div>
        <div class="modal-footer">
          <p id="deactivationError"></p>
          <button type="submit" class="btn btn-primary">Deactivate</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  let systemUsers = [];
  $(function () {
    getUsers();
  });

  $("#activateForm").submit((e) =>{
    e.preventDefault();
    var selected = $("#time").val();
    var now = moment()
    var expiryDate = now;
    const id =$("#userId").val();
    if (selected === '0'){
      expiryDate = now.add(parseInt($("#months").val()), 'months');
    } else if (selected === '1'){
      expiryDate = now.add(parseInt($("#years").val()), 'years');
    } else if (selected === '2'){
      expiryDate = now.add(10, 'years');
    } else {
      $("#activationError").text("No package selected");
      return;
    }
    let data = {
      expiryDate: expiryDate._d,
      activationDate: moment()._d,
      status: 1
    };
    axios.post(`/admin/${id}/activate`, data).then( response => {
      if(response.data.status === 'ok') swal({
        title: "Success...",
        text: "Subscription added...!!",
        icon: "info"
      }).then( ()=> {
        $("#activate-modal").modal("hide"); // Hide modal
        getUsers();
      })
    }).catch( error => {
      swal({
        title: "Error adding subscription...!!",
        text: error.message,
        icon: "error",
        dangerMode: true,
      })
    });

  });

  $("#deactivateForm").submit((e) =>{
      e.preventDefault();
      const id =$("#userIdDe").val();
      let user = systemUsers[id];
      let updates = [];
      $("#subscriptionsTable").children('.subscription-row').each((index, element)=>{
        updates[index] ={
          index: $(element).find('.index').val(),
          status: $(element).find('.statusValue').val(),
          checked: $(element).find('.status')[0].checked
        };
      });
      user.subscriptions.forEach((subscription, index)=> {
        if (updates[index].status==='1')
          subscription.status = updates[index].checked?0:1;
        else
          subscription.status = updates[index].checked?1:0;
      });
      axios.post(`/admin/${id}/deactivate`, user.subscriptions).then( response => {
        if(response.data.status === 'ok') swal({
          title: "Success...",
          text: "Subscription updated...!!",
          icon: "info"
        }).then( ()=> {
          $("#deactivate-modal").modal("hide"); // Hide modal
          getUsers();
        })
      }).catch( error => {
        swal({
          title: "Error updating subscription...!!",
          text: error.message,
          icon: "error",
          dangerMode: true,
        })
      });

    });

  function getUsers() {
    $.ajax({
      type:'GET',
      url:'https://api.mlab.com/api/1/databases/pharmacy-pos/collections/users?apiKey=dI9gXrgAznHkTgvdNOqCp_WKAwZD2KON',
      success:function (users) {
        $.each(users,function (i, data) {
          let _id = data._id.$oid;
          systemUsers[_id] = {
            _id,
            username: data.email,
            subscriptions: data.subscriptions
          }
        });
        reloadUsersTable();
      }
    });
  }

  function reloadUsersTable(id=null) {
    var userTable = $("#userTable");
    userTable.text('');
    if(systemUsers) {
      let i =1;
      for(let user in systemUsers){
        if(systemUsers[user]._id== id) continue;
        userTable.append('<tr><td>'+(i)+'</td><td>'+systemUsers[user].username+ '</td>'+
          '<td><buttton class="btn btn-sm btn-success" onClick="showActivateModal(\''+systemUsers[user]._id+'\')">Activate</buttton>'+
          '<button class="btn btn-warning btn-sm '+(systemUsers[user].subscriptions===undefined?'disabled': '')+'\" onClick="showDeactivateModal(\''+systemUsers[user]._id+'\')">Deactivate</button>'+
          '<button class="btn btn-danger btn-sm" onclick="deleteUser(\''+systemUsers[user]._id+'\')">Delete</button></td></tr>');
        i++;
      }
    }else {
      userTable.text("No subscribed users...");
    }
  }

  function showActivateModal(id) {
    let user = systemUsers[id];
    $("#activateUsername").text(user.username);
    $("#userId").val(id);
    $("#activationError").text('');
    $("#activate-modal").modal("show");
  }

  function showDeactivateModal(id) {
    let user = systemUsers[id];
    let subscriptionsTable = $("#subscriptionsTable");
    subscriptionsTable.text('');
    user.subscriptions.forEach( (subscription, index) =>{
      let activationDate = moment(subscription.activationDate).format('DD/MM/YYYY');
      let expiryDate = moment(subscription.expiryDate).format('DD/MM/YYYY');
      let color = subscription.status===1?'success':'warning';
      let disabled = subscription.status===0?'check':'simple-remove';
      let data = subscription.status===0?'Activate':'Deactivate';
      subscriptionsTable.append(`<tr class="text-${color} subscription-row">
          <td><input type="hidden" class="index" value="${index}"><input type="hidden" class="statusValue" value="${subscription.status}">${index+1}</td>
          <td>${activationDate}</td>
          <td>${expiryDate}</td>
          <td>
            <div class="form-check" title="${data}">
              <label class="form-check-label">
                <input class="form-check-input status" type="checkbox">
                <span class="form-check-sign"></span>
              </label>
              <i class="now-ui-icons ui-1_${disabled}"></i>
            </div>
        </td>
      </tr>`);
    });
    $("#deactivateUsername").html(`<i class="now-ui-icons users_single-02"></i> ${user.username}`);
    $("#userIdDe").val(user._id);
    $("#deactivationError").text('');
    $("#deactivate-modal").modal("show");
  }

  function deleteUser(id) {
    swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover user information!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
        if(willDelete)
          return axios.delete(`/admin/${id}/delete`);
    }).then(deleted => {
      if (deleted){
        swal("Poof! User deleted!", {
          icon: "success",
        });
        reloadUsersTable(id);
      }
    }).catch(error =>{
      swal("User not deleted!"+error);
    });
  }

  function getOption() {
    let option = $("#time").val();
    let error = $("#activationError");
    let monthsInput = $("#monthsInput");
    let yearsInput = $("#yearsInput");
    error.text('');
    if (option === '0') {
      monthsInput.show();
      yearsInput.hide();
    } else if (option === '1') {
      monthsInput.hide();
      yearsInput.show();
    } else if (option === '2') {
      monthsInput.hide();
      yearsInput.hide();
    } else {
      monthsInput.hide();
      yearsInput.hide();
      error.text("Please selecting a package");
    }

  }
</script>
<%- include('../partials/admin/footer.ejs')%>
