<%- include('../partials/admin/header.ejs', {title: "Subscribed users", admin:admin});%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script  src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
<div class="panel-header panel-header-md">
  <div class="header text-center">
    <h3 class="title">Subscribed users</h3>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Users</h5>
          <div class="container" >
            <h4>Users Subscription</h4>
            <div class="form-group col-md-2">
              <label for="perPage"># of records</label>
              <select name="perPage" class="form-control" id="perPage" onchange="setPerPage()">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>ID #</th>
                  <th>Username/ Email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="userTable"></tbody>
            </table>
            <div>
              <nav aria-label="Page navigation" id="pagination"></nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="activate-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="activateUsername"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="activateForm" class="form">
        <div class="modal-body">
          <div class="form-group">
            <label for="time">Select a subscription package</label>
            <select name="time" id="time" class="form-control" onchange="getOption()">
              <option value="nul">-- Select a subscription package --</option>
              <option value="0">Months</option>
              <option value="1">Years</option>
              <option value="2">Life time</option>
            </select>
          </div>
          <div class="form-group" style="display: none;" id="monthsInput">
            <label for="months">Select no. of months</label>
            <input type="text" id="months" name="months" class="form-control">
          </div>
          <div class="form-group" style="display: none;" id="yearsInput">
            <label for="years">Select no. of years</label>
            <input type="text" id="years" name="years" class="form-control">
          </div>
          <input type="hidden" id="userId" name="userId">
        </div>
        <div class="modal-footer">
          <p id="activationError"></p>
          <button type="submit" class="btn btn-primary">Activate</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="deactivate-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deactivateUsername"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="deactivateForm" class="form">
        <div class="modal-body">
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>ID #</th>
                <th>Activation Date</th>
                <th>Expiry Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="subscriptionsTable">

            </tbody>
          </table>
          <input type="hidden" id="userIdDe" name="userId">
        </div>
        <div class="modal-footer">
          <p id="deactivationError"></p>
          <button type="submit" class="btn btn-primary">Deactivate</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/node/js/subscriptions.js"></script>
<script>
  var users = <%- JSON.stringify(users) %>;
  var total = <%- total%>;
  var perPage;
  var pages = 0;
  var page;
  var urlParams = parseUrl();

  if(urlParams.perPage){
    $('#perPage').val(urlParams.perPage);
  }

  generatePagination();

  if( users){
    users.forEach(function (data) {
      let _id = data._id;
      systemUsers[_id] = {
        _id,
        username: data.email,
        subscriptions: data.subscriptions
      }
    });
    reloadUsersTable();
  } else{
    swal('users not set')
  }

  function setPerPage() {
    var option = $('#perPage').val();
    perPage = parseInt(option);
    generatePagination();
  }

  function parseUrl() {
    var params;
    var match,
      pl     = /\+/g,  // Regex for replacing addition symbol with a space
      search = /([^&=]+)=?([^&]*)/g,
      decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
      query  = window.location.search.substring(1);

    params = {};
    while (match = search.exec(query))
      params[decode(match[1])] = decode(match[2]);

    return params;
  }
  function generatePagination() {
    // Get url query params

    // Set current page
    if(urlParams.page){
      page = parseInt(urlParams.page);
      perPage = parseInt($('#perPage').val());
    } else {
      page = 1;
      perPage = parseInt($('#perPage').val());
    }

    // Get number of pages
    pages = Math.ceil(total/perPage);
    var ul = '<ul class="pagination justify-content-end">';

    //Append previous button
    if(page == 1){
      ul += '<li class="page-item disabled">' +
        '<a class="page-link" href="#" tabindex="-1">Previous</a>' +
        '</li>';
    } else {
      ul += '<li class="page-item">' +
        '<a class="page-link" href="/admin/subscriptions?page='+(page-1)+'&perPage='+perPage+'" tabindex="-1">Previous</a>' +
        '</li>';
    }

    // Show all pages
    for(var i=1;i<=pages;i++){
      if (i === page)
        ul += '<li class="page-item active"><a class="page-link" href="/admin/subscriptions?page='+i+'&perPage='+perPage+'">'+(i)+'</a></li>'
      else
        ul += '<li class="page-item"><a class="page-link" href="/admin/subscriptions?page='+i+'&perPage='+perPage+'">'+(i)+'</a></li>'
    }

    // Append next button
    if (page == pages){
      ul += '<li class="page-item disabled">' +
        '<a class="page-link" href="#">Next</a>' +
        '</li>' +
        '</ul>';
    } else {
      ul += '<li class="page-item">' +
        '<a class="page-link" href="/admin/subscriptions?page='+(page+1)+'&perPage='+perPage+'">Next</a>' +
        '</li>' +
        '</ul>';
    }
    $('#pagination').html(ul);
  }
</script>
<%- include('../partials/admin/footer.ejs')%>
