<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
<div class="content">
<div class="container">
	 <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                    <div class="box">
                        <h3 class="box-title">Select Your Hosting Plan</h3>
                        <div class="plan-selection">
                            <div class="plan-data">
                                <input id="question1" name="question" type="radio" class="with-font" value="sel" />
                                <label for="question1">Personal</label>
                                <p class="plan-text">
                                    1 install | 25K visits/month | 10 GB local storage</p>
                                <span class="plan-price">$29 / mo</span>
                            </div>
                        </div>
                        <div class="plan-selection">
                            <div class="plan-data">
                                <input id="question2" name="question" type="radio" class="with-font" value="sel" />
                                <label for="question2">Profesional</label>
                                <p class="plan-text">
                                    Up to 10 installs | 100K visits/month | 20 GB local storage</p>
                                <span class="plan-price">$99 / mo</span>
                            </div>
                        </div>
                        <div class="plan-selection">
                            <div class="plan-data">
                                <input id="question3" name="question" type="radio" class="with-font" value="sel" />
                                <label for="question3">Business</label>
                                <p class="plan-text">Up to 25 installs | 400K visits/month | 30 GB local storage</p>
                                <span class="plan-price">$249 / mo</span>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <h3 class="box-title">Select term length</h3>
                        <div class="plan-selection">
                            <div class="plan-data">
                                <input id="question4" name="question" type="radio" class="with-font" value="sel" />
                                <label for="question4">1 Month</label>
                                <span class="plan-price term-price">$29 / mo</span>
                            </div>
                        </div>
                        <div class="plan-selection">
                            <div class="plan-data">
                                <input id="question5" name="question" type="radio" class="with-font" value="sel" />
                                <label for="question5">12 Month</label>
                                <span class="plan-price term-price">$348 / mo</span>
                            </div>
                        </div>
                        <div class="plan-selection">
                            <div class="plan-data">
                                <input id="question6" name="question" type="radio" class="with-font" value="sel" />
                                <label for="question6">24 Month</label>
                                <span class="plan-price term-price">$696 / mo</span>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <h3 class="box-title">Secure your site</h3>
                        <div class="plan-selection">
                            <div class="plan-data">
                                <input id="box1" type="checkbox" class="with-font" />
                                <label for="box1">Add malware scan and removal</label>
                                <p class="plan-text">Nam sodales exviverra pretium erat ifermeoin accumsan ligula duiin ornare tortor euismod nece.</p>
                                <span class="plan-price secure-price">$229 / mo</span>
                            </div>
                        </div>
                        <div class="plan-selection">
                            <div class="plan-data">
                                <input id="box2" type="checkbox" class="with-font" />
                                <label for="box2">Add standard SSL Certificate</label>
                                <p class="plan-text">Class aptent taciti sociosqu ad litora torquent perconu bia nostrper inceptos himenelquet dui.</p>
                                <span class="plan-price secure-price">$429 / mo</span>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary btn-lg mb30">Continue With Plans</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">

                    <div class="widget">
                        <h4 class="widget-title">Order Summary</h4>
                        <div class="summary-block">
                            <div class="summary-content">
                                <div class="summary-head"><h5 class="summary-title">Personal</h5></div>
                                <div class="summary-price">
                                    <p class="summary-text">$29 / mo</p>
                                    <span class="summary-small-text pull-right">1 month</span>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="summary-head"> <h5 class="summary-title">Website Security
Essential</h5></div>
                                <div class="summary-price">
                                    <p class="summary-text">$229 / mo</p>
                                    <span class="summary-small-text pull-right">1 month</span>
                                </div>
                            </div>
                        </div>
                        <div class="summary-block">
                            <div class="summary-content">
                               <div class="summary-head"> <h5 class="summary-title">Total</h5></div>
                                <div class="summary-price">
                                    <p class="summary-text">$258 / mo</p>
                                    <span class="summary-small-text pull-right">1 month</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
	<div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center mt20">
              Created for <a href="#" target="_blank">easetemplate</a>
              </div></div>

</div>
</div>
  </body>
</html>
