<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" ></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/node/assets/css/cart.css">
</head>
<body>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <div class="box">
                  <div class="plan-selection">
                      <div class="plan-data">
                        <div class="row">
                          <div class="col-md-8">
                            <h3><b>Monthly Package  </b><span id="packageCost">Ksh 2,999.00 / month</span></h3>
                              <p id="monthly-text">
                                Simple Download | Quick Configuration  | more...
                              </p>
                          </div>
                          <div class="col-md-4">
                            <button type="button" name="button" class="btn btn-success " id="monthly">Purchase
                              <i class="fas fa-shopping-cart"></i>
                            </button>
                          </div>
                        </div><br>
                        <div class="card" style="display:none;" id="monthlyCard">
                          <div class="card-header">Package Description</div>
                          <div class="card-body">
                            <ul>
                              <li>Cost of Plug and Play software monthly when the license expires after 14 days</li>
                              <li>Simple Download</li>
                              <li>Quick Configuration </li>
                              <li>24/7 Support and Customer Care Service</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="plan-selection">
                      <div class="plan-data">
                        <div class="row">
                          <div class="col-md-8">
                            <h3><b>Yearly Package  </b><span id="packageCost">Ksh 29,999.00 / year</span></h3>
                              <p id="yeary-text">
                                Most Popular | Yearly License  | more...
                              </p>
                          </div>
                          <div class="col-md-4">
                            <button type="button" name="button" class="btn btn-success" id="yeary">Purchase
                              <i class="fas fa-shopping-cart"></i>
                            </button>
                          </div>
                        </div><br>
                        <div class="card" style="display:none;" id="yearCard">
                          <div class="card-header">Package Description</div>
                          <div class="card-body">
                            <ul>
                              <li>Most Popular package (with 20% savings)</li>
                              <li>Cost of Plug and Play software yearly when the license expires after 14 days</li>
                              <li>Simple Download</li>
                              <li>Quick Configuration </li>
                              <li>24/7 Support and Customer Care Service</li>
                              <li>All Year round Support and maintainance</li>
                              <li>Periodic upgrades of new and improved features</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="plan-selection">
                      <div class="plan-data">
                        <div class="row">
                          <div class="col-md-8">
                            <h3><b>Life Time  Package  </b><span id="packageCost">Ksh 39,999.00 </span></h3>
                              <p id="life-text">
                                Never pay again | Lifetime License  | more...
                              </p>
                          </div>
                          <div class="col-md-4">
                            <button type="button" name="button" class="btn btn-success" id="lifeTime">Purchase
                              <i class="fas fa-shopping-cart"></i>
                            </button>
                          </div>
                        </div><br>
                        <div class="card" style="display:none;" id="lifetimeCard">
                          <div class="card-header">Package Description</div>
                          <div class="card-body">
                            <ul>
                              <li>Lifetime License never pay anything again!</li>
                              <li>Simple Download</li>
                              <li>Quick Configuration </li>
                              <li>Periodic upgrades of new and improved features</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <div class="widget">
                    <h4 class="widget-title">Order Summary <i class="fas fa-calculator"></i></h4>
                  <form action="/cart/checkout.php" method="post" id="cart">
                    <div class="summary-block">
                      <h4>My Package Type: <u id="packageType">None</u></h4>
                      <div class="summary-content">
                        <div class="summary-head"><h5 class="summary-title"><span id="packageTitle"></span> Payment (Ksh)</h5></div>
                        <div class="summary-price">
                          <p class="summary-text"><span id="packageTotalCost"></span></p>
                        </div>
                        <input type="hidden" name="package" id="inputPackage">
                        <div class="summary-price" id="formNum">
                          <label for="quantity">
                            <h5 class="summary-title" id="NumberOf"></h5>
                          </label>
                          <input type="number" name="quantity" value="1" onchange="computeTotal();"  id="NumberOfItem" min="1" onkeyup="computeTotal();">
                        </div>
                      </div>
                    </div>
                    <div class="summary-block">
                      <div class="summary-content">
                        <div class="summary-head"><h5 class="summary-title">Total</h5></div>
                        <div class="summary-price">
                          <p>Ksh <span class="total-text">0</span>/=</p>
                          <input type="hidden" name="total" id="inputTotal">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#login-modal" id="checkOut">
                        CheckOut
                      </button>
                    </div>
                  </form>
                </div>

            </div>
        </div>


    <!-- Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width: 75%;">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Processing Payment</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="iframe" class="col-sm-12" style="text-align: center;">
              <img src="/node/images/preloader.gif" alt="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

        <footer class="footer">
            <div class="container-fluid text-center">
                <div class="copyright">
                  <p><a href="https://pharmacypluspos.com">
                      Go to Home Page
                  </a>
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    , Designed by
                    <a href="https://magnumdigitalke.com" target="_blank">Magnum</a>.
                  </p>
                </div>
            </div>
        </footer>
    </div>
</div>
<script>
  var user = <%- JSON.stringify(user)%>
</script>
<script src="/node/js/checkout.js"></script>
<script>
function computeTotal() {
  var packageType = $( "#packageTitle" ).text().toLowerCase();
  var totalPackages = Math.ceil(document.getElementById('NumberOfItem').value);
   $('#NumberOfItem').val(totalPackages);
   var Payment = 0;
   var formTotal;
  String(totalPackages)
  if (packageType ==='monthly') {
    let cost = 2999.00
    Payment = (cost*totalPackages).toFixed(2);
    formTotal = Payment;
    total = Payment.toString().replace(/\B(?=(\d{3})+(?!\d))/g,",")
    $(".total-text").text(total);
  } else if (packageType ==='yearly') {
    let cost = 29999.00
    Payment = (cost*totalPackages).toFixed(2);
    formTotal = Payment;
    total = Payment.toString().replace(/\B(?=(\d{3})+(?!\d))/g,",")
    $(".total-text").text(total);
  }else{
    Payment = (39999).toFixed(2);
    formTotal = Payment;
    total = Payment.toString().replace(/\B(?=(\d{3})+(?!\d))/g,",")
    $(".total-text").text(total);
  }
  $('#inputPackage').val(packageType);
  $('#inputTotal').val(formTotal);
}
</script>
</body>
</html>
