<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>pharmacypluspos-Error</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>
  <style media="screen">
    body{
      margin-top:20px;
    }
    .footer{
      min-height: 80px;
      background-color: #EDBB99;
      position: fixed;
      width: 100%;
      left: 0;
      text-align: center;
      font-size: 18px;
      color: white;
      bottom: 0;
    }
    .footer p{
      margin: 20px auto;
      padding: 10px;
    }
    .footer p a:hover{
      color: red;
      text-decoration: none;
    }
  </style>
<body>
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="hero-unit center">
            <h1>Oops!</h1>
              <h2><i class="fa fa-exclamation-triangle" style="color:red"></i> 404 Page Not Found </h2>
              <br />
              <p>The page you requested could not be found, because your link token is <b>already used</b> or <b>expired</b>.For more information contact us:
                <span><a href="#">http://magnumdigitalke.com/contact-us/</a></span>. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
              <p><b>Or you could just press this neat little button:</b></p>
              <a href="http://pharmacypluspos.com/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
              <span>I have an account ?</span>
                <a href="http://localhost:3000/users/login" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> login into my account</a>
            </div>
            <br />
        </div>
      </div>
    </div>
    <footer>
      <div class="footer">
        <p>
          <a href="http://magnumdigitalke.com/">Proudly powered by Magnum Digital Media Company Limited, Kenya</a>
        </p>
      </div>
    </footer>
  </div>
</body>
</html>
