<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/node/css/resetstyles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/node/css/modal.css">
    <title>Pharmacy Plus POS Password Management</title>
</head>
<body>
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h3 class="title">Enter your email address to reset your password</h3>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" id="forgot-form" role="form">
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label" >Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <input type="email" class="form-control" name="email" id="email">
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block ">Reset password</button>
                </div>
            </form>
            <div class = 'text-center'>
            <a href="/users/login">login</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(document).ready(function () {
        $('#forgot-form').on('submit', function (e) {
            e.preventDefault();
            var email = $('#email').val();
              $.ajax({
                  url: "/users/forgot",
                  data: JSON.stringify({
                      "email": email
                  }),
                  type: "post",
                  contentType: "application/json",
                  success: function (data, msg) {
                      if (data) {
                          $("#forgot-form").get(0).reset();
                          swal({
                              title: "Success",
                              text: 'A message was sent to the e-mail you provided. Please login to that e-mail for more information on how to reset your password.' ,
                              icon: "success"
                          });
                      }
                    },
                    error: function (xhr) {
                        if (xhr.status === 404) {
                            var error = xhr.responseJSON;
                            swal({
                                title: "Error!",
                                text: error.message,
                                icon: "info"
                            });
                        }
                    }
                });
        });
    });
</script>
</body>
</html>
