<!DOCTYPE html>
<html>
<head>
		<title>Pharmacy-pos</title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/modal.css">
</head>
<body>
	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : keys.facebook.clientID,
      xfbml      : true,
      version    : 'v2.12'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
	<div class="container">
		<a href="#modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal" style="font-family: 'Pacifico', cursive;" id="myBtnClick">GET STARTED</a>
		<button type="button" name="button" id="myElement">start</button>
		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header login_modal_header">
	        		<h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      		</div>
	      		<div class="modal-body login-modal">

	      			<hr>
	      			<div class="clearfix"></div>
	      			<div id='social-icons-conatainer'>
		        		<div class="modal-body-left well">
									<form action="/auth/login-local" method="post" >
										<div class="form-group">
											<input type="email"  name="email" class="form-control" id="username" value="ruigukjohn@gmail.com" aria-describedby="emailHelp" placeholder="Enter your Email"  required>
				              <i class="fa fa-envelope login-field-icon"></i>
			            	</div>
			            	<div class="form-group">
			            	  <input type="password" id="login-pass" placeholder="Password" value="123" name="password" class="form-control login-field" required>
			              	<i class="fa fa-lock login-field-icon"></i>
			            	</div>
										<button type="submit" class="btn btn-success modal-login-btn">Sign in</button>
									</form>
		        		</div>
      				<div class='modal-body-right'>
		        			<div class="modal-social-icons">
		        				<a href="/auth/facebook" class="btn btn-default facebook"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
		        				<a href="/auth/google"  class="btn btn-default google"> <i class="fa fa-google-plus modal-icons"></i> Sign In with Google </a>
		        			</div>
		        		</div>
		        	</div>
	        		<div class="clearfix"></div>
							<div class="card-header" id="headingOne">
								<button class="btn btn-default" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="button"> New User want to Register ?</button>
								<button class="btn btn-default" data-toggle="collapse" href="#collapseExamp" role="button" aria-expanded="false" aria-controls="collapseExamp"> Admin ?</button>
							</div>
							<div id="accordion">
	        		<div class="form-group modal-register-btn">
								</div>
								<div class="collapse" id="collapseExample" data-parent="#accordion">
									<!-- show any messages that come back with authentication -->

								  <div class="card card-body">
										<form id="myform">
											<div class="form-group">
											<input type="text" class="form-control" id="lname" placeholder="Enter your username" >
											</div>
											<div class="form-group">
												<input type="number" class="form-control" id="tel" placeholder="Enter your Phone number" >
											</div>
											<div class="form-group">
												<input type="email"  id="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email">
											</div>
											<div class="form-group">
												<input type="password" class="form-control"placeholder="Enter your Password" id="password" >
											</div>
											<input  type="submit" name="" class="btn btn-success modal-login-btn" value="Sign up">
										</form>
								  </div>
	      		</div>
						<div class="collapse " id="collapseExamp" data-parent="#accordion">
							<div class="card card-body">
								<form action="/admin/login-admin" method="post">
									<div class="form-group">
										<label>Email</label>
										<input type="text" class="form-control" name="email" value="ruigukjohn@gmail.com">
									</div>
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" name="password" value="123">
									</div>
									<input id="enviar" type="submit" name="" class="btn btn-success modal-login-btn" value="Sign up" value="123">
								</form>
							</div>
						</div>
						</div>
	      		<div class="clearfix"></div>
	    	</div>

			<div class="modal-footer login_modal_footer">
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  $('#myform').on('submit',function (e) {
    e.preventDefault();
		// var newUser = new User();
    var username = $('#lname').val();
    var tel = $('#tel').val();
		var email = $('#email').val();
    var password = $('#password').val();
		if (!username || !tel || !email || !password) {
			swal({
				title: "Error!",
				text: "Try to fil all the spaces !",
				icon: "warning",
			});
		}else {
			$.ajax({
				url: 'https://api.mlab.com/api/1/databases/pharmacy-pos/collections/users?apiKey=dI9gXrgAznHkTgvdNOqCp_WKAwZD2KON',
				data: JSON.stringify({
					local:{
						"username" :username,
						"email" :email,
						"tel" : tel,
						"password" : password
					}
				}),
				type: "POST",
				contentType: "application/json",
				success:function (data,msg) {
					if (data) {
						$("#myform").get(0).reset()
						swal({
							title: "Successful registration!",
							text: "You can now login!",
							icon: "success",
						});
					}
				},
				error: function (xhr,status,err) {
					if (err) {
						console.log(err);
					}
				}
			});

		}
  });
});
</script>
	</body>
</html>
