<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/node/assets/css/cart.css">
</head>
<body>
<div class="content">
  <a class="btn btn-success btn-lg" href="/users/cart" role="button">Monthly</a>
  <a class="btn btn-primary btn-lg" href="/users/cart" role="button">Yeary</a>
  <a class="btn btn-danger btn-lg" href="/users/cart" role="button">LifeTime</a>
</div>
</body>
</html>
