<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/node/css/resetstyles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <title>Pharmacy Plus POS Password mangement</title>
    <style media="screen">
    .swal-text {
      text-align: center;
      padding: 17px;
      display: block;
      margin: 22px;
      color: #61534e;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Pharmacyplus-pos</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal"  method="POST" id="reset-form">
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Enter your Password"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="confirm" id="comfirm"
                                   placeholder="Confirm your Password"/>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/node/assets/js/bootstrap.js"></script>
<script>
$('#reset-form').submit(function (e) {
    e.preventDefault();
    var password = $('#password').val();
    var password2 = $('#comfirm').val();
    if (!password || !password2) {
      swal({
          title: "Invalid Input",
          text: 'Please fill the fields' ,
          icon: "info"
      });
    }else {
      $.ajax({
        url: this.href,
        data: JSON.stringify({
          "password": password,
          "password2": password2
        }),
        type: "POST",
        contentType: "application/json",
        success: function (data) {
          if (data) {
            $("#reset-form").get(0).reset();
            swal({
              title: "Password Reset Successful",
              text: 'Your password was  successful changed. Please login using the new password.' ,
              icon: "success"
            }).then(function () {
              window.location = '/users/login';
            });
          }
        },
        error: function (xhr) {
          var message = xhr.responseJSON.message;
          if (xhr.status === 404) {
            swal({
              title: "Error!",
              text: message,
              icon: "error"
            });
          }
        }
      })
    }
});
</script>
</body>
</html>
