<%- include('./partials/header.ejs', {title: "services"});%>
          <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
                <div class="header text-center">
                    <h3 class="title">Other Services from Magnum</h3>
                </div>
            </div>
            <div class="content">

                    <div class="col-md-6">
                        <div class="card">

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="places-buttons">
                                    <div class="row">
                                        <div class="col-md-6 ml-auto mr-auto text-center">
                                            <h4 class="card-title">
                                                Magnum Services

                                            </h4>

                                        </div>
                                    </div>
                                    <div class="row">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </script>
    <script  src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
<%- include('./partials/footer.ejs')%>
