body {
   /* -webkit-font-smoothing: antialiased; */
   text-rendering: optimizeLegibility; font-family: 'Noto Sans', sans-serif;
   letter-spacing: 0px;
    font-size: 14px;
    color: #2e3139;
    font-weight: 400;
    line-height: 26px;
    /* background-color: #E6E6E6; */
}
h1 { font-size: 42px; line-height: 50px; }
h2 { font-size: 36px; line-height: 42px; }
h3 { font-size: 20px; line-height: 32px; }
h4 { font-size: 18px; line-height: 32px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { font-size: 12px; line-height: 18px; }
p { margin: 0 0 20px; line-height: 1.8; }
p:last-child { margin: 0px; }
ul, ol { }
/* a { text-decoration: none; color: #2e3139; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; } */
.card{
  border: 1px solid #E6E6E6;
}
.card-header{
  margin-bottom: -16px !important;
  background-color: #E6E6E6 !important;
}
.card-body ul {
  margin-top: -20px !important;
}
a:focus, a:hover {
   text-decoration: none;
    color: #0943c6;
  }
.content{
  padding-top:80px;
  padding-bottom:80px;
  margin-top: 500px;
}

/*------------------------
Radio & Checkbox CSS
-------------------------*/


.box { background-color: #fff; border-radius: 8px; border: 2px solid #e9ebef; padding: 50px; margin-bottom: 40px; }
.box-title { margin-bottom: 30px; text-transform: uppercase; font-size: 16px; font-weight: 700; color: #094bde; letter-spacing: 2px; }
.plan-selection { border-bottom: 2px solid #e9ebef; padding-bottom: 25px; margin-bottom: 35px; }
.plan-selection:last-child { border-bottom: 0px; margin-bottom: 0px; padding-bottom: 0px; }
.plan-data { position: relative; }
.plan-data label { font-size: 20px; margin-bottom: 15px; font-weight: 400; }
#plan-text { padding-left: 35px; }
#packageCost {
  right: 0px;
  color: #094bde;
   font-size: 20px;
   font-weight: 700;
   letter-spacing: -1px;
   line-height: 1.5;
   bottom: 43px;
 }
.term-price { bottom: 18px; }
.secure-price { bottom: 68px; }
.summary-block:last-child { border-bottom: 0px; }
.summary-content {
  padding: 28px 0px;
  display: none;
}

.summary-price {
    color: #094bde;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
    margin-bottom: 0px;
    display: inline-block;
    float: right;
   }

.summary-title { font-weight: 700; font-size: 14px; color: #1c1e22; }
.summary-head { display: inline-block; width: 120px; }

.widget {
    background-color: #fff;
    padding: 20px 50px 20px;
    border-radius: 6px;
 }
/* .widget:last-child { border-bottom: 0px; } */
.widget-title { color: #094bde; font-size: 16px; font-weight: 700; text-transform: uppercase; margin-bottom: 25px; letter-spacing: 1px; display: table; line-height: 1; }
.btn-success:hover{
  background-color: #FFF;
  border: solid 2px #000;
  color: #000;
}

#btnPurchase{
  margin-right:500px !important;
}
#checkOut{
  display: none;
}
/* set element styles to fit tablet and higher(desktop) */
@media only screen and (max-width: 1000px) {
    body {
        background-color:green ;
    }
    #formNum{
      margin-right: -40px;
      margin-left: 5000px !important;
    }
}

.card-body{
  margin-top: 30px;
}
#NumberOfItem{
  width: 100%;
}
