<%- include('../partials/users/header.ejs', {title: "contact"}); %>
<div class="panel-header panel-header-sm"></div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">
                      Send Us a Direct Message Here
                    </h5>
                </div>
                <div class="card-body">
                    <div class="panel-body">
                        <form id="add-message">
                            <div class="form-group">
                                <label for="comment">Message:</label>
                                <textarea class="form-control" rows="5" id="message" placeholder="Start typing here ..."></textarea>
                            </div>
                            <button type="submit" name="submit" class="btn btn-primary" id="msgBtn">Send message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var user = <%- JSON.stringify(user)%>
</script>
<script src="/node/js/contact.js"></script>
<%- include('../partials/users/footer.ejs') %>
