<%- include('../partials/users/header.ejs', {title: "Profile"});%>
<div class="panel-header panel-header-md">
    <div class="header text-center">
        <h3 class="title" id="title">Hi <%=user.username%>, <br>Welcome to your PharmacyPOS Dashboard</h3>
    </div>
</div>
<div class="content">
  <div class="col-md-12">
      <div class="card text-center">
        <div class="card-body text-center">
          <a href="/pharmacysoftwarefree.exe"><button class="btn btn-success btn-round" style="width:300px; height:60px; font-size:18px;">Click to Download <i class="now-ui-icons arrows-1_cloud-download-93"></i></button></a>
          <p><b>NB: </b>Please download on a Desktop computer/Laptop of Windows 7 and above.<br> (Downloading and installing using a phone won't work!)</p>
        </div>
      </div>
      </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
<script  src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
<script>
  var params = parseUrl();
  if(params){
    $.ajax('/cart/status-check.php', {
      method: 'get',
      data: params,
      success: function (data) {
        var status = data.split('&')[3].split('=')[1];
      },
      error: function (error) {
        console.log(error);
      }
    });
  }

  function parseUrl() {
    var params;
    var match,
      pl     = /\+/g,  // Regex for replacing addition symbol with a space
      search = /([^&=]+)=?([^&]*)/g,
      decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
      query  = window.location.search.substring(1);

    params = {};
    while (match = search.exec(query))
      params[decode(match[1])] = decode(match[2]);

    return params;
  }
</script>
<%- include('../partials/users/footer.ejs')%>
