<%- include('../partials/users/header.ejs', {title: "Subscription"}); %>
<div class="panel-header panel-header-md">
    <div class="header text-center">
        <h3 class="title"><%=user.username%> here is all Subscriptions</h3>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title"></h5>
                </div>
                <div class="card-body">
                    <div class="panel-body">
                        <table id="subscriptionTable" class="table table-bordered table-hover table-striped">
                          <thead>
                            <th>ID #</th>
                            <th>Expiry Date</th>
                            <th>Activation Date</th>
                            <th>Period (days)</th>
                            <th>Status</th>
                          </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script>
    var user = <%- JSON.stringify(user)%>
    var i =0;
    var n = {};
      if(user.hasOwnProperty('subscriptions')){
          for (var i=0;i<user.subscriptions.length;i++) {

            $("#subscriptionTable").append('<tr><td>'+(i+1)+'</td><td>'+(moment(user.subscriptions[i].activationDate).format('Do/MMMM/YYYY'))+'</td><td>'+(moment(user.subscriptions[i].expiryDate).format('Do/MMMM/YYYY'))+'</td><td style="text-align:center;">'+(moment(user.subscriptions[i].expiryDate).diff(moment(user.subscriptions[i].activationDate), 'days'))+'</td><td>'+(user.subscriptions[i].status==1?'Active':'Deactivated')+'</td></tr>');
            console.log(user.subscriptions[i]);
          }
      }else {
        $("#subscriptionTable").text('Ooops! You have no subscription yet Try to purchase one')
      }


</script>
<script src="/node/js/contact.js"></script>
<%- include('../partials/users/footer.ejs') %>
