<%- include('../partials/users/header.ejs', {title: "Subscription status"});%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<div class="panel-header panel-header-sm">
  <div class="header text-center">
    <h3 class="title">Your subscription status</h3>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">
            <i class="now-ui-icons users_single-02"></i>
            <span class="text-right">
          </span></h5>
          <div class="container" >
            <h4>Your subscriptions</h4>
            <table class="table table-bordered table-hover table-striped">
              <thead>
              <tr>
                <th>email #</th>
                <!-- <th>Package</th> -->
                <th>Amount</th>
                <th>Activation Date</th>
                <th>Expiry Date</th>
                <th>Days remaining</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody id="subscriptionsTable">
                    <tr>
                      <td><%=user.email%></td>
                      <td><%=user.tel%></td>
                    </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/users/footer.ejs')%>
