<div class="modal fade" id="editUsernameModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" class="form" id="username-form">
                <div class="modal-body" id="modal-username">
                    <div class="form-group" >
                        <label for="email">Username</label>
                        <input type="text" id="username-change" name="email" class="form-control" placeholder="Enter your name.." value="<%=user.username%>">
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="btn btn-success" style="display:none" id="usernameSuccess">Success ! Your username will be changed once your fresh your page</span> <br><br>
                    <span class="btn btn-info" style="display:none" id="usernameInfo">Please fill the field to proceed</span> <br><br>
                    <button type="submit" class="btn btn-success" id="usernameReset">Change</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <a href="https://pharmacypluspos.com">
                        Go to Home Page
                    </a>
                </li>

            </ul>
        </nav>
        <div class="copyright">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            , Designed by
            <a href="https://magnumdigitalke.com" target="_blank">Magnum</a>.

        </div>
    </div>
</footer>
</div>
</div>
<script>
var path = window.location.pathname.split('/profile').pop();
  if (path == '') {
    path = '/profile'
  }
  var target = $('.nav li a[href="/profile'+path+'"]');
  target.addClass('active')
  $(document).ready(function () {
      $('#username-form').on('submit', function (e) {
          e.preventDefault();
          var username = $('#username-change').val();
          if (!username) {
            $('#usernameInfo').css({'display':'block'});
          }else {
            $('#modal-username').css({'display':'none'});
            $('#usernameInfo').css({'display':'none'});
            $("#usernameReset").text("Processing....");
            $.ajax({
              url: "/users/profile/${id}/edit",
              data: JSON.stringify({
                "username": username
              }),
              type: "post",
              contentType: "application/json",
              success: function (data, msg) {
                if (data) {
                  $("#usernameReset").text("Success");
                  swal({
                    title: "Success",
                    text: 'A message was sent to the e-mail you provided. Please login to that e-mail for more information on how to reset your password.' ,
                    icon: "success"
                  }).then(function () {
                    $('#passwordRestModal').modal('hide');
                  });
                }
              },
              error: function (xhr) {
                if (xhr.status === 404) {
                  var error = xhr.responseJSON;
                  $("#usernameReset").text(error.message);
                }
              }
            });
          }
      });
  });

</script>
<!--   Core JS Files   -->
<script src="/node/assets/js/core/jquery.min.js"></script>
<script src="/node/assets/js/core/popper.min.js"></script>
<script src="/node/assets/js/core/bootstrap.min.js"></script>
<script src="/node/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

</body>
</html>
