            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul>
                            <li>
                                <a href="https://pharmacypluspos.com">
                                    Go to Home Page
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        , Designed by
                        <a href="https://magnumdigitalke.com" target="_blank">Magnum</a>.

                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script>
    var messages = <%- JSON.stringify(messages)%>;
    //unread messages
    var unreadMessages = {};
    var r = 0;
    messages.forEach(function (message) {
      if(message.isRead === false){
          unreadMessages[r] = message;
          r++;
      }
    });
    var Unread = Object.keys(unreadMessages).length
    $("#latestMessages").text(Unread);
    
    </script>
    <!--   Core JS Files   -->
    <script src="/node/assets/js/core/popper.min.js"></script>
    <script src="/node/assets/js/core/bootstrap.min.js"></script>
    <script src="/node/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/node/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/node/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/node/assets/js/now-ui-dashboard.js?v=1.0.1"></script>
</body>

</html>
